# Xcode
.DS_Store
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Derived data
DerivedData/
build/

# Swift Package Manager
Packages/
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Other
*.moved-aside
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings